/*
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
}
*/
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
	background:#eee;
}

h1 {
	font-size: 21px;
	line-height: 1em;
	margin-bottom: .5em;
	margin-top: 0;
}

h2 {
	font-size: 18px;
	line-height: 1em;
	margin-bottom: .5em;
}

#main {
	position: fixed;
	/*float: left;*/
	/*width: 380px;*/
	top: 0;
	left: 0;
	bottom: 0;
	width: 66%;
	padding: 0;
	margin: 0;
	margin-right: -200px;
}


#panel {
	font-family: Monda, "Helvetica Neue", Arial, sans-serif;
	font-size: 13px;
	line-height: 1.30769230769; /* font 13px/17px */
	color: #222222;
	
	position: absolute;
	/*float: right;*/
	top: 0;
	right: 0;
	bottom: 0;
	width: 380px;
	background: #e0e0e0;
	margin: 0;
}
.inner {
	padding: 20px;
	background: #e0e0e0;
}

.toggle {
	cursor: pointer;
}

#advanced {
	display: block;
	margin: 1em 0 0.5em 0;
	color: #2251B4;
	/*text-decoration: none;*/
}

#properities span {
	font-weight: bold;
}

hr {
	margin: 1em 0;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #e8e8e8;
}

label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

input[type="checkbox"]{
	cursor: pointer;
}

#settings label {
	line-height: 2em;
}
#settings input[type="text"] {
	background: #eee;
	width: 50px;
	line-height: 1.5em;
	height: 1.5em;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #ccc;
	text-align: center;
	margin-right: 1em;
}
#settings input[type="text"][disabled] {
	background: #e8e8e8;
}

#settings input[type="range"]{/*, 
#settings ::-ms-track */
	margin: 0 15px 0 0;
	max-width: 135px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #f8f8f8;
	height: 4px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border-width: 0;
	-webkit-box-shadow: inset 0px 1px 2px #999;
	-moz-box-shadow: inset 0px 1px 2px #999;
	box-shadow: inset 0px 1px 2px #999;
	vertical-align: middle;
}

#settings input[type="range"]:focus{
	outline: none;
}

#settings input[type="range"]::-moz-range-track {
	background: transparent;
}
#settings input[type="range"]::-ms-track {
	background: transparent;
}
::-webkit-slider-thumb {
/*
, ::-moz-range-thumb, ::-ms-thumb {{*/
	-webkit-appearance: none;
	background-color: #f8f8f8;
	width: 8px;
	height: 18px;
	border: 1px solid #888;
	background: #eee;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cousor: ew-resize;
}
::-moz-range-thumb {
/*
, ::-moz-range-thumb, ::-ms-thumb {{*/
	-webkit-appearance: none;
	background-color: #f8f8f8;
	width: 5px;
	height: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cousor: ew-resize;
}

svg {
	display: block; /*5px bug*/
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.node, .vertex {
	fill: #222222;
}
	
.ctrl .vertex {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
} 

.dragging, .dragging .vertex {
	cursor: move;
	cursor: -webkit-grabbing; 
	cursor: -moz-grabbing;
}

.draw .vertex {
	cursor: crosshair;
}

path {
	fill: none;
	stroke: #222;
	stroke-width: 2px;
}

.ctrl path.link {
	cursor: pointer !important;
}

/*
svg:not(.active):not(.ctrl) {
	cursor: default;
}
*/



svg defs {
	display: none;
}
svg.directed defs {
	display: inline !important;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: initial; // FireFix
}

svg path.arrow, svg .arrow {
	stroke: none;
	fill: #222222;
}

/*
path.link.selected {
	stroke-dasharray: 10,2;
}*/

path.link.dragline {
	pointer-events: none;
}

path.link.hidden {
	stroke-width: 0;
}

circle.vertex {
	stroke-width: 2px;
	cursor: default;
	fill: #eee;
	stroke: #222222;
	stroke-width: 1.5px;
}
/*
circle.vertex.reflexive {
	stroke: #000 !important;
	stroke-width: 2.5px;
}*/

text {
	font: 12px sans-serif;
	pointer-events: none;
}

text.label {
	text-anchor: middle;
	font-weight: bold;
	fill: #222222;
}



/*
.c1 {background: #1f77b4;}
.c2 {background: #aec7e8;}
.c3 {background: #ff7f0e;}
.c4 {background: #ffbb78;}
.c5 {background: #2ca02c;}
.c6 {background: #98df8a;}
.c7 {background: #d62728;}
.c8 {background: #ff9896;}
.c9 {background: #9467bd;}
.c10 {background: #c5b0d5;}
.c11 {background: #8c564b;}
.c12 {background: #c49c94;}
.c13 {background: #e377c2;}
.c14 {background: #f7b6d2;}
.c15 {background: #7f7f7f;}
.c16 {background: #c7c7c7;}
.c17 {background: #bcbd22;}
.c18 {background: #dbdb8d;}
.c19 {background: #17becf;}
.c20 {background: #9edae5;}
*/
