/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
/*html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}
html {
	height: 100%;
}
body {
	position: relative;
	height: 100%;
	background:#eee;
}

h1 {
	font-size: 21px;
	line-height: 1em;
	margin-bottom: .5em;
}

#main {
	position: relative;
	float: left;
	width: 380px;
	padding: 0;
	margin: 0;
	margin-right: -200px;
}

svg {
	display: block; /*5px bug*/
}

#panel {
	font-family: Monda, "Helvetica Neue", Arial, sans-serif;
	font-size: 13px;
	line-height: 1.30769230769; /* font 13px/17px */
	color: #222222;
	
	position: relative;
	float: right;
	width: 380px;
	background: #e0e0e0;
	padding: 20px;
	margin: 0;
}


.link {
	stroke: #000000;
	stroke-width: 1.5px;
}

.node, .vertex {
	fill: #222222;
	/*
	stroke: #222222;
	stroke-width: 1px;
	*/
}
	
.ctrl .vertex {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
} 

.dragging, .dragging .vertex {
	cursor: move;
	cursor: -webkit-grabbing; 
	cursor: -moz-grabbing;
}

svg {
	background-color: #f0f0f0;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

svg:not(.active):not(.ctrl) {
	cursor: default;
}

path.link {
	fill: none;
	stroke: #222;
	stroke-width: 2px;
	cursor: default;
}

.arrow {
	fill: #22222;
}

svg:not(.active):not(.ctrl) path.link {
	cursor: default;
}

path.link.selected {
	stroke-dasharray: 10,2;
}

path.link.dragline {
	pointer-events: none;
}

path.link.hidden {
	stroke-width: 0;
}

circle.vertex {
	stroke-width: 2px;
	cursor: default;
	fill: #eee;
	stroke: #222222;
	stroke-width: 1.5px;
}
/*
circle.vertex.reflexive {
	stroke: #000 !important;
	stroke-width: 2.5px;
}*/

text {
	font: 12px sans-serif;
	pointer-events: none;
}

text.label {
	text-anchor: middle;
	font-weight: bold;
	fill: #222222;
}

.c1 {background: #1f77b4;}
.c2 {background: #aec7e8;}
.c3 {background: #ff7f0e;}
.c4 {background: #ffbb78;}
.c5 {background: #2ca02c;}
.c6 {background: #98df8a;}
.c7 {background: #d62728;}
.c8 {background: #ff9896;}
.c9 {background: #9467bd;}
.c10 {background: #c5b0d5;}
.c11 {background: #8c564b;}
.c12 {background: #c49c94;}
.c13 {background: #e377c2;}
.c14 {background: #f7b6d2;}
.c15 {background: #7f7f7f;}
.c16 {background: #c7c7c7;}
.c17 {background: #bcbd22;}
.c18 {background: #dbdb8d;}
.c19 {background: #17becf;}
.c20 {background: #9edae5;}
